body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
a {
    text-decoration: none;
    }

ul {
    list-style-type: none;
    }

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

h2 {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3 {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

p {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-logo-accent {
    color: #2E2F42;
}

.header-link {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.footer-section {
    background-color: #2E2F42;
}

.preference-subtitle {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.preference-desc {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-section {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
}

.team-subtitle {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-desc {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-desc {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-logo-accent {
    color: #F4F4FD;
}

.footer-slogan {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}